# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=termbook
    - secure: "1O0nYiuRBKRz2r6ywLoYtnIm1raoS6XmC9Pel1U6vUYa4Fwz9aoLgBVWlebJcgt08c4A6E4K0LTaGoX6zguyzGeDUa1OwnBWUQg+NAfFXPyXtGmB5OqQQy7OjMwmc8qnVoKAlTs/7E+0sVkpaOyvD/WPDLS0qxYJBBrqSStLCQm1npcZTluQ0mS+vngS0ZniufWAOtrgCEsNWkLke/SFjHzV3qxVDaTLEbPXDh+93AZsM2vBikmPr3h/HGcKFW9LCLirLKSPw1IpDRWTk7JtrPXori5uJVnYqILR4UoPwaOla5jLl9OUZ/I15bFRg9NMs8ih3tVFH3o/O179faXTVmC0JZ3bo5b7s+VOasPRiYMk04wk99RYs+Fmh2rJBnPq3rkXfugxsLYsMHDszdwL+UOUBssxHtvmahPtiU2vuAuwW4hx0wTmxvn1U8b+tMcuQfnBodsvhyNwURC+sSaG0N2wTKeHgD4KqAloHWBqlxV7KWMjCmaezdPbfUEPQ3YDziAaGOf1muWGvgKJpMTJUl61mRphnOEHUtZh/NKivjVQljyZmfJ8WZTDvCOsRpgF1SHpOZjFyYUjcWmS3m6ykkRjyUCY1P5uIG/94rkdsNlJTDaJjAeK0i52RlkAtIN7RulDFUUik6kpCtzx6EHx3al2c/ygAg91cEM9alNZbJY="

matrix:
  include:
    - env: ENABLE_TESTS=1
    # Linux
    # fails as /usr/bin/file can't be found. Fair enough
    # - env: TARGET=i686-unknown-linux-musl
    - env: TARGET=x86_64-unknown-linux-musl

    # OSX
    - env: TARGET=i686-apple-darwin
      os: osx
    - env: TARGET=x86_64-apple-darwin
      os: osx
    
cache:
  - cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo
  
branches:
  only:
    # release tags
    - /^\d+\.\d+\.\d+.*$/
    - master
  
before_install:
  - set -e
  - rustup self update

install:
  - sh bin/ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash bin/ci/script.sh

after_script: set +e

before_deploy:
  - sh bin/ci/before_deploy.sh
  
deploy:
  - provider: pages
    skip-cleanup: true
    github_token: $GITHUB_TOKEN
    local-dir: doc/book
    on:
      repo: Byron/termbook
      branch: master
      condition: $ENABLE_TESTS = 1
  - api_key:
      secure: "xQaujrlKZsQcpQpwN2ozv9HKV2+jmbv74cq4UejosQ+u3PuBt/2kbAwUsx2qxMSxAAGvegcxcpju9zUtlbkuo6whUV5po9Gt6FR9sTb+vPuH2u6ambIEFOBwBiw+o43yXWCaZkhz4BwGnj38cC8xQlTpoJ4CHrskYuR4TkznY4ypkksw4yrWWfWxMdNeBupJKiJ8WIMRNmM9nbY1AMVPYpVH3PQTljwoGS/jDuek4tYHo0npaa6OWlrBWGl98Ab0Ex3Jm5V19wbBSc5PKLYTmC+LuY33u1Nq6qKQUvbB31h/OrdqSTTuexGCfXjnyZDMGugALLNm97WGXj4/73cbU9yc6yiU+M2t8BRWswVxnApdWkKrte9Ru/zVTYXeAVCEBr6A6UCfRs11MNZ3RrWGS1f+kNPag2lcJJwFfQVDYgBC38gnfFzWaya4DxqUIuF8UmHVHKyDBoCmKncMhI2OgFNZpHHQvgSbyzTozrhKKGGElmIRmQoGLgsHtf1LIFYPSgHg8jkRTxpAoV0MLiAp/CEphAeXf45vYwwSiWb4+V+3siqlNmfrRLpABbEhFUBB5euRoIArnFLvafDw4wzS3wO0uc+hVjyDDHxxPMKzF6GCCLx99xT+8WFVbKZGagzfox18C4hkfHZS2Q88eZfVcIyInl5pSD173A+8byKa9o0="
    file_glob: true
    file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
    on:
      condition: $TRAVIS_RUST_VERSION = stable && -n "$TARGET"
      tags: true
    provider: releases
    skip_cleanup: true
